/***div class definitions***/

.full-width {
    width:1200px;
    padding: 0px 50px 50px 50px;
    margin: 0px auto;
    overflow: auto;
}

.two-thirds-width {
    width:600px;
    float: left;
    padding: 0px 10px 0px 50px;
}

.one-third-width {
    width: 450px;
    float: left;
}

/***header****/

header {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin: 0px auto;
    height: 750px;
    background-image: url('../img/cat-cover-laptop.jpg');
    background-size: cover;
}

header nav ul li {
    display: inline;
    padding: 500px 35px 20px 35px;
    float: right;    
}

header nav ul li a {
    text-decoration: none;
    color: rgb(8, 86, 141);
}

header p {
    padding: 50px 0px 50px 50px;
    float: left;
}

header p span {
    color: rgb(8, 86, 141);
}

/***headings****/

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    color:whitesmoke;
}

/***portfolio section***/

#portfolio {
    clear: both;
}

#portfolio, #about, #skills, #contact {
    padding: 0px 50px 10px 0px;
}

#portfolio, #skills {
    background: #0678ca;
}

#about, #contact {
    background:  rgb(8, 86, 141);
}

#portfolio p, .about-me-paragraph {
    padding: 100px 0px 0px 0px;
}


#about p, #portfolio p, .about-me-paragraph, #skills ul li, #skills p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 2;
    color: whitesmoke;
}

/***skills***/

#skills ul li {
    display: inline;
    padding: 0px 40px;
}

/***images***/

.rogue-pickings, .jubilee, .cat{
    border: 4px solid black;    
}

/***icons****/

.html5{
    padding: 0px 120px;
}
.web-development {
    padding: 0px 110px;
}
.content-creation {
    padding: 0px 90px;
}
.web-design {
    padding: 0px 80px;
}
.megaphone {
    padding: 0px 60px;
}

/***footer***/

footer p {
    text-align: center;
    color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 700;
    clear: both;
}

footer .part-one p {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: whitesmoke;
}

footer .part-one {
    padding: 0px 150px;
    float: left;
}

.part-two {
    float: left;
    padding:0px 200px;
}